apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config
  namespace: logging
data:
  fluent.conf: |
    @include containers.input.conf
    @include output.conf

  containers.input.conf: |
    <source>
      @type tail
      path /var/log/containers/*.log
      pos_file /var/log/fluentd-containers.log.pos
      tag kubernetes.*
      read_from_head true
      <parse>
        @type cri
      </parse>
    </source>

  output.conf: |
    <match kubernetes.**>
      @type elasticsearch
      @id out_es
      host "#{ENV['FLUENT_ELASTICSEARCH_HOST']}"
      port "#{ENV['FLUENT_ELASTICSEARCH_PORT']}"
      scheme "#{ENV['FLUENT_ELASTICSEARCH_SCHEME']}"
      logstash_format true
      include_tag_key true
      type_name _doc
      reconnect_on_error true
      reload_connections false
      request_timeout 30s
      <buffer>
        flush_interval 10s
        chunk_limit_size 2M
        retry_max_interval 30
      </buffer>
    </match>
